/* MOBILE STYLE */
@media (max-width: 375px) {
  html {
    /* 9px / 16px = 0.5625 */
    /* For simplify into rem units */
    font-size: 56.25%;
  }

  .container {
    width: 100%;
    max-width: 375px;
    padding: 0 3.2rem;
  }

  .heading-primary {
    font-size: 3.6rem;
  }

  .heading-secondary {
    font-size: 3rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.2rem 1.6rem;
    font-size: 1.6rem;
  }

  /* Header */
  .logo {
    height: 2.4rem;
  }

  .main-nav-list {
    display: none;
  }

  .main-nav .toggle-btn {
    display: inline-block;
  }

  /* Mobile nav */
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--neutral-dark-blue);
    color: #fff;
    z-index: 1000;
    padding: 3.2rem 2.4rem;
    transition: all 0.3s ease-in;

    /* display: none; -> can not animate navbar */

    /* For animate */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
  }

  .mobile-nav .logo {
    height: 3rem;
  }

  .mobile-nav .toggle-btn {
    display: inline-block;
    color: #fff;
  }

  .mobile-nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 80%;
    text-align: center;
    padding: 0 3.2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 7.2rem;
  }

  .mobile-nav-item {
    width: 100%;
    padding: 2.4rem 0;
    border-top: 1px solid #555;
  }

  .mobile-socials {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }

  .mobile-socials .mobile-nav-item {
    border-top: none;
  }

  .mobile-nav-link:link,
  .mobile-nav-link:visited {
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    transition: all 0.3s;
  }

  .mobile-nav .btn:link,
  .mobile-nav .btn:visited {
    width: 100%;
    font-size: 2rem;
    background-color: transparent;
    border: 2px solid #fff;
  }

  /* Active mobile nav */
  .nav-open .mobile-nav {
    opacity: 0.9;
    pointer-events: initial;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .main-nav {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  /* Hero */
  .hero-section {
    padding: 3.2rem 0;
    text-align: center;
  }

  .hero-container {
    grid-template-columns: 1fr;
  }

  .hero-text-box {
    width: 100%;
  }

  .hero-img-box {
    grid-row: 1;
    margin-bottom: 4.8rem;
  }

  /* Features */

  .features-header {
    width: 100%;
  }

  .tab-nav-list {
    width: 100%;
    flex-direction: column;
    text-align: center;
    border-bottom: none;
  }

  .tab-nav-item {
    border-bottom: 1px solid #ddd;
  }

  .tab-nav-item:first-child {
    border-top: 1px solid #ddd;
  }

  .tab-nav-link:link,
  .tab-nav-link:visited {
    padding: 1.6rem;
  }

  .feature-inner {
    grid-template-columns: 1fr;
    padding-top: 2.4rem;
  }

  .feature-inner-img-box {
    margin-top: 2.4rem;
  }

  .feature-inner-text-box {
    width: 100%;
    text-align: center;
  }

  /* CTA */
  .cta-header {
    width: 100%;
  }

  .cta-cards {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }

  .cta-card:nth-child(2) {
    transform: translateY(0);
  }

  .cta-card:nth-child(3) {
    transform: translateY(0);
  }

  /* F.A.Q */

  .faq-header {
    width: 100%;
  }

  .faq-list {
    width: 100%;
  }

  /* Contact */
  .contact-container {
    max-width: 100%;
  }

  .contact-subheading {
    font-style: 1.2rem;
    margin-bottom: 1.6rem;
  }

  .form {
    flex-direction: column;
  }

  .form .btn {
    width: 100%;
  }

  /* Footer */
  .footer-container {
    flex-direction: column;
    gap: 3.2rem;
  }

  .footer-nav {
    margin-left: 0;
  }

  .footer-nav-list {
    flex-direction: column;
    gap: 2.4rem;
  }

  .socials {
    margin-left: 0;
    margin-top: 1.6rem;
  }
}
