/* HEADER */
.header {
  padding: 3.2rem 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--neutral-dark-blue);
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--primary-soft-red);
}

.main-nav-link.btn {
  color: #fff;
}

.main-nav-link.btn:hover {
  color: var(--primary-soft-red);
}

/* HERO SECTION */
.hero-section {
  padding: 8rem 0;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-text-box {
  padding-right: 16rem;
}

.hero-text {
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}

.hero-img-box {
  position: relative;
}

.hero-img-box::before {
  content: '';
  display: block;
  width: 70rem;
  height: 35rem;
  background-color: var(--primary-soft-blue);
  position: absolute;
  top: 40%;
  right: 0;
  z-index: -1;
  transform: translateX(50%);
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}

.hero-img {
  width: 100%;
}

/* FEATURES SECTION */
.features-section {
  padding: 8rem 0;
}

/* .attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
} */
